:root {
    --darkbg: #1F2937;
    --lightblue: #3882F6;
    --headerwhite: #F9FAF8;
    --textwhite: #E5E7EB;
    --darktext: #1F2937;
}

body {
    margin:0;
    padding: 0;
    max-width: 100vw;
}

* {
    font-family: 'Roboto', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    padding: 3vh 0;
    max-width: 100vw;
    overflow: hidden;
}

/* NAVBAR */

header {
    background-color: var(--darkbg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

h3 {
    color: var(--headerwhite);
}

a {
    text-decoration: none;
    color: var(--textwhite)
    
}

#links {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

/* HERO */

#hero {
    align-items: center;
    background-color: var(--darkbg);
    gap: 16px;

}

#hero > img {
    max-width: 40vw;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 40vw;
}

.hero-content > h1 {
    color: var(--headerwhite);
}

.hero-content > p {
    color: var(--textwhite)
}

.hero-content > button {
    background-color: var(--lightblue);
    color: var(--headerwhite);
    border-radius: 5px;
    border: none;
    padding: 5px 20px;
    font-weight: bold;
}

/* ILLUSTRATIONS */

#illustrations {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#illustrations > h2 {
    text-align: center;
    margin-bottom: 3.5vh;
    font-size: 36px;
    font-weight: 900;
    color: var(--darktext);
}

.illustration-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.5vw;
}

.illustration {
    width: 16vw;
}

.illustration > img {
    aspect-ratio: 1/1;
    border: 2px solid var(--lightblue);
    width: 16vw;
    border-radius: 5px;
}

.illustration >p {
    text-align: center;
}